*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {

}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  border: 1px solid red;
}

.logo {
  width: 50px;
  height: 50px;
}

.link__list {
  display: flex;
}

.link__list li {
  list-style: none;
  margin-left: 15px;
}

.link__list li:first-child {
  margin-left: 0;
}

.about img {
  max-width: 250px;
  max-height: 200px;
}

.about_description {
  text-align: left;
}

.about_description  h2 {
  margin-bottom: 75px;
}

.about_description p {
  max-width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  height: 120px;
}

footer ul {
  display: flex;
}

footer ul li {
  list-style: none;
  margin: 10px 5px;
}